.blog_list_item {
  border: 2px solid #c2c2c2;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}
.blog_list_title {
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
}
.blog_list_subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  font-size: 18px;
  font-style: italic;
}
.blog_list_time {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  font-size: 18px;
  font-weight: bold;
}
